@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

html, body {
  margin:0;
  padding:0;
  background-color:#102027;
  color:white;
  font-family:Raleway, sans-serif;
}

a {
    color:white;
    text-decoration: none;
}

header{
  height:5vh;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  margin:0;
  font-family:Raleway, sans-serif;
  font-weight:700;
  display:flex;
  justify-content:space-between;
  padding-left:30px;
  padding-right:30px;
  align-items:center;
  font-size:2em;
  .material-icons:hover{
    color:inherit;
  }
}

#app {
  height:100%;
  width:100%;
}

.header-img {
  width:100%;
  height:300px;
  filter:blur(70px);
  grid-column: 2/-2;
  grid-row:1/2;
}



.container {
  position:relative;
  display: grid;
  grid-template-columns: 70px auto min-content auto 70px;
  grid-template-rows: 10% 20% 20% max-content auto;
  gap:1em;
  height:85vh;
  padding-top:10vh;
  animation-name:fadeIn;
  animation-duration:1s;
}

@keyframes fadeIn {
    from {filter:opacity(0);};
    to {filter:opacity(1);};
}

.poster{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  grid-column:3;
  grid-row:2/4;
  z-index:1;
  transition: all 0.5s;
  height:100%;
}
.poster:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transform: scale(1.03);
}

.content{
  grid-column:4;
  grid-row:3/4;
  z-index:1;
  margin-left:10px;
  max-width:600px;
  -webkit-backface-visibility: hidden;
}

.rate{
  grid-row:4;
  grid-column:3;
  background:#3e3e3e;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding:10px;
  border-radius:5px;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
}

.title{
  font-size:1.3em;
  font-weight:700;
}
.year{
  font-size:1em;
  /* color:rgb( 228 , 204 , 12 ); */
  color:#56c8c1;
  font-weight:700;
}
.director{
  font-size:1em;
  /* color:rgb( 228 , 204 , 12 ); */
  color:#56c8c1;
  font-weight:700;
}
.directed{
  /* margin-left:10px; */
  color:#bdbdbd;
}

.hiddenTitle{
    height:0px;
}

.actors{
  margin-bottom:10px;
  color:#bdbdbd;
}
.plot{
  margin-top:10px;
}

.liked {
    /* box-shadow: 0px 0px 4px 2px rgb(55, 255, 63); */
    position: relative
}

.liked::after{
    position:absolute;
    content:'â¤';
    left:10px;
    bottom:10px;
    font-size:1.8em;
    /* color:rgba(230, 26, 26, 1); */
    color:#56c8c1;
}

.liked:hover{
    box-shadow: 0px 0px 4px 2px rgb(55, 255, 63);
}

hr {
    border:none;
    height:1px;
    background:#56c8c1;
}

.watched > img{
    filter:brightness(0.2);
}

.material-icons{
  transition:all 0.7s;
}
.material-icons:hover{
  color:#e62927;
}
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-36 { font-size: 36px; }

@media screen and  (max-width: 700px) {
  .container {
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-rows: 60% max-content max-content;
  padding-bottom:20px;
}

  .header-img {
  grid-column: 1/4;
  grid-row:1;
}
  .poster{
  grid-column:2;
  grid-row:1;
  margin:auto;
}

    .rate{
  grid-row:3;
  grid-column:2;
}

  .content{
  grid-column:2;
  grid-row:4;
}
}
