body, html {
    background: #102027;
    margin: 0;
    padding: 0;
}
.App {
  /* text-align: center; */
  display:flex;
  align-content: center;
  flex-direction: column;
}

.App-header {
    height:5vh;
    width:100vw;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    margin:0;
    font-family:Raleway, sans-serif;
    font-weight:700;
    display:flex;
    justify-content:space-between;
    padding-left:30px;
    padding-right:30px;
    align-items:center;
    font-size:2em;
    font-size: calc(10px + 2vmin);
    color:white;

}

.App-container {
    margin-top:1em;
    display:grid;
    grid-template-columns: repeat(6, max-content);
    grid-gap: 1em 1em;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-auto-flow: row dense;
    margin:auto;
}

.Item-container {
    /* box-sizing: border-box; */
    width:156px;
    height:231px;
}

.Item-container > img {
    width:156px;
    height:231px;
}

.Item-container:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
